@charset "UTF-8";

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}



.hero {
    text-align: center;
    padding: 2rem;
}

.services {
    background-color: #fff;
    text-align: center;
    padding: 2rem;
}

.services .service {
    margin: 2rem;
}

